* {
padding:0;
margin:0;
box-sizing:border-box;
}
body {
height:100vh;
background-color: rgba(255, 255, 255, 0.664);
font-family: Georgia, 'Times New Roman', Times, serif;

}

.container {
    height:100vh ;
    display: flex;
    align-items:center;
    justify-content:center;
   
}
@media (max-width:768px){

.container {
    height:100vh ;
    display: flex;
    justify-content:center;
   
}
}
.container .list ul {

list-style:none;
text-align:center;
line-height:1.5;

transition:.5s;

}

.container .list ul li a {
    display: inline-block;
    background-color:rgba(96, 179, 173, 0.623) ;
    border-radius:20px;
    margin: 8px 0;
    padding:10px;
    color:white;
    text-decoration:none;
    width:150px;
    transition:.5s;
    

}

.container .list ul li::after {
    content:attr(data-text);
    color:rgb(17, 17, 17);
    font-weight: 300;
    font-size:26px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    pointer-events:none;
    direction: rtl;
    min-width:600px;

}

@media (max-width:767px){
    .container .list ul li::after {
        font-weight: 300;
        font-size:26px;
        min-width:min-content;
         transform:translate(-50%,-30%); 
    
    }

    .container .list ul li:nth-child(3)::after {

         transform:translate(-50%,-20%);
    }
  
}


.container .list ul li:nth-child(4)::after {

    transform:translate(-50%,-30%);
}

.container .list ul li:nth-child(5)::after {

    transform:translate(-50%,30%);
}

.container .list ul li:nth-child(6)::after {

    transform:translate(-50%,-150%);
}
.container .list ul li:nth-child(7)::after {

    transform:translate(-50%,-80%);
}
.container .list ul li:hover:after {
    opacity:1;
}
@media (max-width:767px){
    .container .list ul li:nth-child(4)::after {

        transform:translate(-50%,-10%);
    }
    
    .container .list ul li:nth-child(5)::after {

        transform:translate(-50%,20%);
    }
    
    .container .list ul li:nth-child(6)::after {
    
        transform:translate(-50%,15%);
    }
    .container .list ul li:nth-child(7)::after {
    
        transform:translate(-50%,-80%);
        line-height: 1.3;
    }
    .container .list ul li:nth-child(8)::after {
    
        transform:translate(-50%,-70%);
    }
    .container .list ul li:nth-child(9)::after {
    
        transform:translate(-50%,-70%);
    }
}


/* opacity */
.container .list ul:hover a {
    opacity:0;
}

.container .list ul a:hover {
    transform:scale(1.5);
    opacity:1;
    background-color:rgb(206, 206, 206)
}
.error-bg {
  background: #F7F7F7;
}
.error-page {
  text-align: center;
  padding: 40px 0;
}
.error-page p {
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-bottom: 25px;
}
.error-page h1 {
  font-size: 180px;
  margin: 0px 0px;
}
.error-page h2 {
  font-size: 42px;
  line-height: 68px;
}
.project-container .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow:  0 0 1rem var(--bg-color);
  overflow: hidden;
  height: 20rem;
  display: flex;
}
.project-box img {
  width: 100%;
  transition: .5s ease;
}
.project-box:hover img{
  transform: scale(1.1);
}
.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 9,.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}
.project-box:hover .project-layer{
  transform: translateY(0);
}
.project-layer h4{
  font-size: 3rem;
}
.project-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}
.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.project-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}



